/* overide */

/* PRELOADER */
.preload-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000004d;
    z-index: 9999;
    width: 100%;
    height: 100%;
}
.preload-init {
    position: fixed;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    z-index: 9999;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /* END OF PRELOADER */

/* .MuiTableCell-sizeSmall{
    padding: 2px 4px 2px 4px !important;
} */

.MuiDrawer-paperAnchorDockedRight{
    border: none !important;
    box-shadow: 0 0 5px 0 #BDBDBD !important;
}

.MuiLinearProgress-barColorPrimary{
    background-color: #f0444c !important;
}

/* .MuiSnackbarContent-root {
    background-color: transparent !important;
} */

.MuiLinearProgress-colorPrimary{
    background-color: #cccccc !important;
}

.MuiExpansionPanel-root.Mui-expanded {
    border-radius: 0 !important;
    box-shadow: none !important;
}

.MuiDialog-paper{
    padding: 0px;
}

.MuiDialog-root{
    margin: auto;
}

.MuiGrid-item{
    width: 100%;
}

.MuiDialog-paperScrollPaper{
    min-width: 90%;
}

.react-tel-input .flag-dropdown{
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom-input{
    outline: none;
    box-shadow: none;
    border: solid 2px #cacccf !important;
    transition: all 0.2s ease;
    margin-bottom: 5px;

}

.custom-input:focus{
    outline: none;
    padding-left: 10px;
    border: none !important;
    box-shadow: 0 0 7px 2px #f0444c;
}

/* end of overide */

/* button */

.button-close-corner-right {
    position: absolute;
    top: 0;
    right: 0;
}

/* container */
.full{
    min-height: 100vh;
    width: 100%;
}

.flex-center-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* color */
.bg-white {
    background-color: #FFFFFF !important;
}

/* color */
.debug {
    background-color: red;
}